<%= watched_progress(@railscasts) %>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @railscasts.each do |railscast| %>
    <tr>
      <td>
	<% if railscast.watched? %>
	  <%= railscast.name %>
	<% else %>
	  <%= link_to railscast.name, railscast.link %>
	<% end %>
      </td>
      <td>
        <%= pro_or_revised_badge(railscast) %>
      </td>
      <td>
	<% if railscast.watched? %>
	  <%= link_to "unwatch", unwatch_railscast_path(railscast.id), :class => 'btn btn-mini' %>
	<% else %>
	  <%= link_to "watched", watch_railscast_path(railscast.id), :class => 'btn btn-mini btn-success' %>
	<% end %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
