<h1>Apartments</h1>

<table class="table table-bordered">
  <thead>
    <tr>
      <th><%= sortable "title" %></th>
      <th><%= sortable "price" %></th>
      <th><%= sortable "posted_at" %></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @apartments.each do |apartment| %>
      <tr>
        <td><%= link_to apartment.title, apartment.url %></td>
        <td><%= apartment.price %></td>
        <td><%= apartment.posted_at %></td>
        <td>
          <%= link_to 'Show', apartment, class: 'btn btn-mini btn-default' %>
          <%= link_to 'Edit', edit_apartment_path(apartment), class: 'btn btn-mini btn-default' %>
          <%= link_to 'Destroy', apartment, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
