<h1>Apartments</h1>

<table class="table table-bordered">
  <thead>
    <tr>
      <th><%= sortable "title" %></th>
      <th><%= sortable "price" %></th>
      <th><%= sortable "posted_at" %></th>
      <th>Tags</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @apartments.each do |apartment| %>
      <tr>
        <td><%= link_to apartment.title, apartment %></td>
        <td><%= apartment.price %></td>
        <td><%= apartment.posted_at %></td>
        <td><%= apartment.tags %></td>
        <td>
          <%= link_to 'Source', apartment.url, class: 'btn btn-mini btn-default' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
