<h1>Apartments</h1>

<p>
  <%= link_to "New Search", new_apartment_search_path, class: 'btn btn-primary' %>
</p>

<table class="table table-bordered">
  <thead>
    <tr>
      <% if current_user %>
        <th></th>
      <% end %>
      <th><%= sortable "title" %></th>
      <th><%= sortable "price" %></th>
      <th><%= sortable "posted_at" %></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <%= render @apartments %>
  </tbody>
</table>
